<div>
    {{header}}
    {{intro}}
</div>
<div>
    <h3>User Profile</h3>
    <ul>
        <li>Username: {{authentication.name}}</li>
        <li>Authorities: {{authentication.authorities}}</li>

        <script>
            const account = "{{authentication.name}}"

            console.log(account);
        </script>

        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>

    </ul>
</div>

<form action="/search" method="post">
    <label for="value">Search:</label>
    <input type="text" name="value">
    <button type="submit">Search</button>
</form>

Aici sub:
{{#nameSearch}}
    Searching:
    <li>
         {{value}}
    </li>
{{/nameSearch}}

Aici deasupra:

<br>

<ul>
    {{#videos}}
        <li>
            {{name}}
            Postat de: {{userName}}

            <form action="/delete/videos/{{id}}" method="post">
                <button id="delete-btn-{{id}}" type="submit">Delete</button>
            </form>

            <script>
                var name = "{{userName}}";
                var deleteButton = document.getElementById("delete-btn-{{id}}");
                if (!(account == "admin")){
                    deleteButton.disabled = account === name ? false : true;
                }
            </script>
        </li>
    {{/videos}}


    <form action="/new-video" method="post">
        <input type="text" name="name">
        <input type="text" name="description">
        <button type="submit">Submit</button>
    </form>
</ul>